
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

*{
  margin: 0;
  padding: 0;
}
.header{
  background-color: #DCDCDC;
  .dropdown-menu{
    li{
      a{
        &:hover{
          background-color: #DCDCDC;
        }
      }
    }
  }
  .top-menu{
    .menu-1{
      ul{
        li{
          padding: 0;
          display: inline-block;
          font-weight: 500;
          :hover{
            > a{
              color: #ffffff;
            }
          }
          &.has-dropdown{
            position: relative;
            .dropdown{
              z-index: 1002;  
              width: 200px;
              position: absolute;
              top: 80%;
              left: 0px;
              background: #DCDCDC;
              box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              -ms-border-radius: 4px;
              border-radius: 4px;
              -webkit-transition: 0s;
              -o-transition: 0s;
              transition: 0s; 
              visibility: hidden;
              opacity: 0;
            }
          }
          &.dropdown-submenu{
            a{
              padding: 15px;
            }
          }
        }
      }
    }
  }

}
a{
  text-decoration: none !important;
}