@import url(https://fonts.googleapis.com/css?family=Nunito);.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
}

.header {
  background-color: #DCDCDC;
}

.header .dropdown-menu li a:hover {
  background-color: #DCDCDC;
}

.header .top-menu .menu-1 ul li {
  padding: 0;
  display: inline-block;
  font-weight: 500;
}

.header .top-menu .menu-1 ul li :hover > a {
  color: #ffffff;
}

.header .top-menu .menu-1 ul li.has-dropdown {
  position: relative;
}

.header .top-menu .menu-1 ul li.has-dropdown .dropdown {
  z-index: 1002;
  width: 200px;
  position: absolute;
  top: 80%;
  left: 0px;
  background: #DCDCDC;
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  transition: 0s;
  visibility: hidden;
  opacity: 0;
}

.header .top-menu .menu-1 ul li.dropdown-submenu a {
  padding: 15px;
}

a {
  text-decoration: none !important;
}

.bg-none {
  background: none !important;
}

#main {
  margin: 30px 0px;
}

#main .wrapper-slideshow .slideshow .mySlides {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#main .imgNoti .img_noti_inside {
  padding: 20px;
}

#main .list-group .list-group-item {
  font-size: 18px;
}

#main .product-main {
  margin-top: 30px;
}

#main .product-main .title-product-care h2 {
  display: inline-block;
  position: relative;
  font-size: 24px;
  margin-bottom: 20px;
  color: #000;
  text-transform: uppercase;
}

#main .product-main .title-product-care h2::after {
  position: absolute;
  top: 49%;
  left: -80px;
  bottom: 0;
  content: "";
  width: 60px;
  height: 2px;
  background: #FFC300;
}

#main .product-main .title-product-care h2::before {
  position: absolute;
  top: 49%;
  right: -80px;
  bottom: 0;
  content: "";
  width: 60px;
  height: 2px;
  background: #FFC300;
}

@media (max-width: 768px) {
  .header .colorlib-nav {
    opacity: 0;
    visibility: hidden;
  }

  .header .wrapper-image {
    padding: 10px;
  }

  .header .wrapper-image .logo {
    width: 100%;
    height: 100%;
  }

  #main .wrapper-slideshow {
    margin-bottom: 30px;
  }

  #main .imgNoti .list-group .list-group-item {
    font-size: 17px;
  }
}

