.gray-border-bottom {
  border-bottom: 1px solid #bbbbbb;
}

.btn-radius-5 {
  border-radius: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.logo {
  max-height: 120px;
  margin: 0 auto;
  width: 90px;
  height: 120px;
  padding: 5px 0;
}

@media only screen and (max-width: 991.98px) {
  .logo {
    width: 80px;
    height: 100px;
  }
}

@media only screen and (max-width: 767.98px) {
  .logo {
    width: 70px;
    height: 90px;
  }
}

.logo img {
  width: 100%;
  height: 100%;
}

.main-menu nav > ul > li > ul.submenu {
  width: 365px;
}

.main-menu li a {
  font-weight: 500;
  font-size: 16px;
}

.main-menu li a.main-menu-1 {
  padding-top: 40px;
  line-height: 80px;
}

.product-wrapper .product-img {
  position: relative;
}

.product-wrapper .product-img::after {
  background: #000 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 100%;
  left: 50%;
  opacity: 0;
  position: absolute;
  right: 0;
  transform: translateX(-50%) scale(0.5);
  transition: all 0.3s ease 0s;
  width: 100%;
}

.product-wrapper:hover .product-img::after {
  opacity: 0.47;
  transform: translateX(-50%) scale(1);
}

.cate-padding-1 .single-food-content > h3 {
  padding: 15px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.footer-widget .title-contact {
  margin-bottom: 15px;
  font-size: 22px;
}

.footer-widget ul li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-widget ul li i {
  margin-right: 5px;
}

.newsletter-title {
  line-height: 45px;
  text-align: center;
}

.newsletter-title > span {
  font-size: 25px;
}

.newsletter-title > i {
  font-size: 25px;
  margin-right: 15px;
}

#sidebar ul.slidebar-menu li a {
  color: #333;
  display: block;
  font-size: 14px;
  display: block;
  border-bottom: 1px solid #cecece;
  padding: 10px 0;
}

#sidebar ul.slidebar-menu li a:hover {
  color: #7e4c4f;
  padding-left: 5px;
}

#sidebar ul.slidebar-menu li a.menu-dropdown-toggle {
  position: relative;
}

#sidebar ul.slidebar-menu li a.menu-dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#sidebar ul.slidebar-menu li > ul {
  margin-left: 10px;
}

.price_filter .btn-outline-secondary {
  color: #383838;
  text-transform: uppercase;
}

.price_filter .btn-outline-secondary:hover {
  background-color: #7e4c4f;
  border-color: #7e4c4f;
  color: #ffffff;
}

.product-details-img .owl-carousel .owl-item img {
  height: 500px !important;
  margin-bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.in-stock {
  margin: 20px 0 8px;
}

.product-list-action-left a:hover {
  background-color: #bbbbbb;
  color: #484848;
}

#scrollUp:hover {
  background-color: #bbbbbb;
  color: #484848;
}

.breadcrumb-content > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #444444;
}

.blog-project .blog-img {
  height: 500px;
  width: 100%;
}

.blog-project .blog-img img {
  width: 100%;
  height: 100%;
}

.single-food-hover-2 {
  height: 210px;
}

.single-food-hover-2 > img {
  height: 100%;
}

.product-img {
  height: 180px;
}

.product-img img {
  height: 100%;
}

.blog-img {
  height: 310px;
}

.blog-img img {
  height: 100%;
}

.dec-img {
  height: 453px;
}

.dec-img > img {
  height: 100%;
}

.pagination-style .page-item .page-link {
  background-color: transparent;
  border: 1px solid #7e4c4f;
  color: #7e4c4f;
  display: inline-block;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.pagination-style .page-item.active span.page-link {
  background-color: #7e4c4f;
  color: #ffffff;
}

.custom-search-content {
  position: relative;
  padding-top: 30px;
}

.custom-search-content input {
  border-radius: 50px;
  padding-right: 40px;
}

.custom-search-content button {
  border: none;
  font-size: 18px;
  position: absolute;
  right: 5px;
  bottom: 6px;
  background: none;
}

.phone-contact {
  text-align: right;
}

.phone-contact .icon-phone {
  position: relative;
  font-size: 18px;
  font-weight: 500;
}

.phone-contact .icon-phone::before {
  position: absolute;
  top: 0px;
  left: -25px;
}

@media only screen and (max-width: 992px) {
  .custom-search-content {
    position: absolute;
    top: 25px;
    padding: 0;
    right: 55px;
    display: flex;
    align-items: center;
  }

  .custom-search-content .phone-contact {
    margin-right: 10px;
  }
}

